header{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: "Libre Baskerville","sans-serif";
    background-color: black;
    color:white;
  }
  .left{
    width: 64;
  }
  .center{
    width: 64;
  }
.botones{
  display: flex;
  justify-content:space-between ;
  padding: 10px 10px;
  
}
